/* Farbvariablen festlegen*/
:root {
    --hintergrund: #171718;
    --hintergrund2:  #2e2e2e ; 
    --vordergrund:  #b4b2aa;
    --transparenz:  #17171800;
    --rot:  #832a39;
    --gelb:  #b18036;
    --hellblau:  #317375 ;
    --gruen:  #3b642e;
    --blau:  #27364d;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--hintergrund);
    /*background-image: url("giphy.gif");*/
    text-align: center;
}


#startButton {
    font-family: var(--font);
    background-color:var(--vordergrund);
    /*background-image:url("lego.PNG");*/
    color:var(--hintergrund);
    border: none;
    width:190px;
    height:95px;
    font-size: 50px;
    margin-top: 4%; 
    margin-bottom: 2%;
    margin-right: 4%;
}
#startButton:hover {
    opacity: 0.7;
}

/* Styling Sequencer Felder*/
#Sequencer {
    width: 70%;
    position: middle;
    margin-left: 15%;
}
.slot {
    float: left;    
}
.Feld {
    /*hier in color sind die Zahlen versteckt */
    color: var(--transparenz);
    width: 95px;
    height: 95px;
    border: none;
    margin: 1px;
    margin-bottom: 2px;
    padding-top: 0;
    padding-bottom:0 ;
    background-color:var(--vordergrund);
}
.Feld:hover{
    opacity: 70%;
}


/* Styling SLider*/
.sliderContainer {
    height: 386px;
    width: 7%;
    float: left;
    background-color:var(--vordergrund);
    margin: 1px;
    margin-left: 1px;
}
.Sliderschrift {
    font-size: 20;
    margin-top: 20px;
    font-family: var(--font);
    color: var(--hintergrund);
    font-weight: 500;
}
#gainOutput {
    margin-top:140px;
}
#speedOutput {
    margin-top:140px;
}
.slider {   
    height: 15px;
    width: 280px;
    transform: rotate(270deg);
    background: var(--hintergrund2);
    margin: -200px;
    margin-top: 140px;
    outline: none;
    opacity: 1;
    appearance: none;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    align-self: center;
    width: 38px;
    height: 76px;
    opacity: 1;
    background:var(--hintergrund);
    background-image: url("/PNGs/legostein2.PNG");
    cursor: pointer; 
}


/*Styling Legende*/
#Legende {
    background-color: var(--transparenz);
    font-family: var(--font);
    font-size: larger;
    font-weight: 500;
    color: var(--vordergrund);
    width: 1100px; 
    margin: 1px;
    margin-left: 15%;
    margin-top: 8px;
    float: left;  
}
.Farbraum {
    font-size: smaller;
    font-weight: 400;
    color: var(--vordergrund);
    float: left;
    width: 190px;
    margin:1px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}
.Farbraum:hover {
    opacity: 0.7;
}
#rot {
    background-color: var(--rot);
    margin-right: 7.9px;
}
#gelb {
    background-color: var(--gelb);
    margin-right: 7.9px;
}
#gruen {
    background-color: var(--gruen);
    margin-right: 7.9px;
}
#hellblau {
    background-color: var(--hellblau);
    margin-right: 7.9px;
}
#blau {
    background-color: var(--blau);
}
