:root {
    --hintergrund: #171718;
    --hintergrund2:  #262627 ; 
    --vordergrund:  #b4b2aa;
    --vordergrund2:  #171718;
    --rot:  #743429;
    --gelb:  #b19e36;
    --gruen:  #3b642e;
    --blau:  #27364d;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--hintergrund);
    padding: 0;
    margin: 0;
    text-align: center;
}

#startButton {
    font-family: var(--font);
    background-color:var(--vordergrund);
    border: none;
    padding: 1.5%;
    font-size: 40px;
    position: middle;
    margin-top: 4%;
    
}

#startButton:hover {
    opacity: 0.7;
}

#Sequencer {
    width: 70%;
    position: middle;
    margin-left: 15%;
    margin-top: 2%;
}

.Feld {
    /*hier in color sind die Zahlen versteckt */
    color: var(--vordergrund);
    width: 90px;
    height: 90px;
    float: both;
    border: none;
    margin: 4%;
    padding-top: 0;
    padding-bottom:0 ;
    background-color:var(--vordergrund);

}
/*testbutton Farben 
#B4 {
    background-color: rgb(138, 138, 138);
    
}*/

.Feld:hover{
    opacity: 70%;
}

.slot {
    float: left;  
    margin: 0.2%;
    
}

/*#three {
    animation: opacityChange 2s;
    animation-iteration-count: infinite;
}*/


.slider {
    -webkit-appearance: slider-vertical;
    
    height: 70%;
    position: middle;
    width: 25px;
    background: var(--hintergrund);
    outline: none;
    opacity: 0.7;
    
}

/*.slider::-webkit-slider-thumb {
    -webkit-appearance: thumb-vertical;
    
    appearance: none;
    width: 15px;
    height: 15px;
    background: #cac6b6;
    cursor: pointer;
    opacity: 1;
}*/


.Sliderschrift {
    font-size: 20px;
    margin: 10%;
    font-family: var(--font);
    color: var(--hintergrund);
    font-weight: 500;
}

.slide {
    height: 41.7%;
    width: 7%;
    float: left;
    background-color:var(--vordergrund);
    margin: 0.35%;
    margin-left: 2%;
}

@keyframes opacityChange {       
    0% {
        opacity: 1;
        
    }
       
    50% {
        opacity:0.7;
        
    }
      
    100% {
        opacity:1;
        
    }
    }

#Legende {
    background-color: var(--hintergrund2);
    font-family: var(--font);
    font-size: larger;
    font-weight: 500;
    color: var(--vordergrund);
    width: 15%;
    float: left;
    height: 38.5%;
    margin: 2.3%;
    margin-left: 6%;
    padding-top: 2%;
}

.Farbraum {
    font-size: smaller;
    font-weight: 400;
    width: 50%;
    margin: 7%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#rot {
    background-color: var(--rot);
}
#blau {
    background-color: var(--blau);
}
#gelb {
    background-color: var(--gelb);
}
#gruen {
    background-color: var(--gruen);
}
