html, body {
    height: 100%;
    width: 100%;
    background:  #171718;
    padding: 0;
    margin: 0;
    text-align: center;
}

#startButton {
    
    background-color: #b4b2aa;
    border: none;
    padding: 1.5%;
    font-size: 40px;
    position: middle;
    margin-top: 4%;
    
}

#startButton:hover {
    opacity: 0.7;
}

#Sequencer {
    width: 70%;
    position: middle;
    margin-left: 15%;
    margin-top: 2%;
}

.Feld {
    /*hier in color sind die Zahlen versteckt */
    color:  #b4b2aa;
    width: 90px;
    height: 90px;
    float: both;
    border: none;
    margin: 4%;
    padding-top: 0;
    padding-bottom:0 ;
    background-color: #b4b2aa;

}
/* testbutton Farben 
#B4 {
    background-color: rgb(138, 138, 138);
    
}*/

.Feld:hover{
    opacity: 70%;
}

.slot {
    float: left;  
    margin: 0.2%;
    
}

/*#three {
    animation: opacityChange 2s;
    animation-iteration-count: infinite;
}*/


.slider {
    -webkit-appearance: slider-vertical;
    height: 70%;
    position: middle;
    width: 25px;
    background:  #0e0e0d;
    outline: none;
    opacity: 0.7;
    
}

/*.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: rotate(90deg);
    appearance: vertical;
    width: 15px;
    height: 15px;
    background: #cac6b6;
    cursor: pointer;
    opacity: 1;
}*/


.Sliderschrift {
    font-size: 20px;
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #171718;
    font-weight: 500;
}

.slide {
    height: 41.7%;
    width: 7%;
    float: left;
    background-color: #b4b2aa;
    margin: 0.35%;
    margin-left: 2%;
}

@keyframes opacityChange {       
    0% {
        opacity: 1;
        
    }
       
    50% {
        opacity:0.7;
        
    }
      
    100% {
        opacity:1;
        
    }
    }